project_id = "rfxydcqahmczvcwrdnam"

[auth]
enabled = true
site_url = "http://localhost:8080"

[auth.email]
enable_signup = true
double_confirm_changes = true
enable_confirmations = false

[functions.create-checkout]
verify_jwt = true

[functions.check-subscription]
verify_jwt = true

[functions.customer-portal]
verify_jwt = true
